@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Natural";
    src: url("./../assets/font/Natural.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
}

.homeCover1 {
  background: rgba(13, 29, 19, 0.79);
}

.homeCardCover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #025761 100%);
}

.wisataCover1 {
  background: rgba(0, 0, 0, 0.47);
}

.textGradOrange {
  background: linear-gradient(180deg, #e06a3c 0%, #ffa45d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.sobanganCover {
  background: linear-gradient(
    270deg,
    #034758 0%,
    rgba(2, 90, 99, 0.9) 25.52%,
    rgba(1, 104, 108, 0.8) 38.02%,
    rgba(8, 27, 28, 0.39) 100%
  );
}

.komoditasCover {
  background: rgba(0, 0, 0, 0.82);
}
